.footer {
  /* margin-top: 1rem; */
  /* padding: 1rem; */
  background-color: #2e2f30;
  /* color: #868686; */
  color: white;
  position: relative;
  /* bottom: 0; */
  /* min-height: 100px; */
  height: 100px;

  /* left: 0;
  width: 100%; */
}
